h1 {
    font-family: sans-serif;
    color: #a22544;
}

h2 {
    font-family: sans-serif;
    color: #a22544;
}

img {
    width: 100%;   
}

dd {
    float: left;
}

dt {
    float: left;
}
        
        